@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-weight: 700;
	font-size: 4em;
}
h2, h3, h4 {
	font-weight: 400;
}
p {
	font-weight: 300;
	color: #797979;
	line-height: 1.6;
}
.container {
	width: 85%;
	max-width: 1000px;
	margin: auto;
}